{% extends "index.html" %}
{% load static %}
{% block content %}

<form action="{% url "index" %}" method="get">
    
    </br>
    <div class="text text-center text-bg-dark p-1">
    <h1>History</h1>
    </div>
    </br>
    {% for i in history %}
    <div class="row">
        <div class="col-10 d-inline">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <button class="form-control" type="submit" value="{{i.id}}" id="chatHistory" name="chatHistory">
                {{i.title}}
            </button>
        </div>
        <div class="col-2 d-inline">
            <button type="submit" value="{{i.id}}" id="delete" name="delete" class="close btn text-danger" >X  </button>
        </div>
    </div>
    {% endfor %}
</form>

{% endblock content %}