{% extends "index.html" %}
{% load static %}
{% block content %}
</br></br></br>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">

            <div class="text-center">
                <div class="btn-group">
                    <a href="/login" class="btn btn-primary active" aria-current="page">Login</a>
                    <a href="/signup" class="btn btn-secondary">Sign Up</a>
                </div>
            </div>

            <br>

            <form method="post">
                {% csrf_token %}
                <div class="text text-center text-bg-dark p-1">
                    <h1>Login Here</h1>
                </div>
                <br>

                <p style="color: red;">{{ a }}</p>

                <div class="form-group">
                    <label for="username">Username</label>  
                    <input type="text" class="form-control" placeholder="Enter Username" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" placeholder="Password" id="password" name="pass">
                    <br>
                </div>
                <br>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Log In</button>
                </div>

                <a href="/signup" class="btn" style="color: rgb(128,128,128)">Create an account</a>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
