{% extends "index.html" %}
{% load static %}
{% block content %}

</br>

<div class="col-12 col-6 text-center">
  <div class="btn-group">
    <a href="/login" class="btn btn-info active" aria-current="page">Login</a>
    <a href="/signup" class="btn btn-info">Sign Up</a>
  </div>
</div>

    
<br>




<div class="background">
  <div class="shape"></div>
  <div class="shape"></div>
</div>
<form method="post">
  {% csrf_token %}
  </br>
  <div class="text text-center text-bg-dark p-1">
    <h1>Login Here</h1>
</div>
</br>
  
      <p style="color: red;">{{ a }}</p>
  
  <div class="form-group">
    <label for="username">Username</label>  
    <input type="text" class="form-control" placeholder="Enter Username" id="username" name="username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" placeholder="Password" id="password" name="pass">
    <br>
    
  </div>
  </br>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Log In</button>
  </div>
  
  <a href="/signup" class="btn" style= "text-color: rgb(128,128,128)" >Create an account</a>
</form> 
{% endblock content %}